In [26]:
# Importing required libraries

import pandas as pd
import numpy as np
import seaborn as sns

In [27]:
# Importing the data

diet = pd.read_csv('diet.csv')
exam = pd.read_csv('examination.csv')
labs = pd.read_csv('labs.csv')

In [28]:
# Examining diet dataset

print("Diet Dataset")
print(diet.head())
print(" ")
print("Basic Info:")
print(diet.info())
print(" ")
print("Statistics")
print(diet.describe())
print(" ")
print("Missing Values:")
print(diet.isnull().sum())

Diet Dataset
    SEQN         WTDRD1         WTDR2D  DR1DRSTZ  DR1EXMER  DRABF  DRDINT  \
0  73557   16888.327864   12930.890649         1      49.0    2.0     2.0
1  73558   17932.143865   12684.148869         1      59.0    2.0     2.0
2  73559   59641.812930   39394.236709         1      49.0    2.0     2.0
3  73560  142203.069917  125966.366442         1      54.0    2.0     2.0
4  73561   59052.357033   39004.892993         1      63.0    2.0     2.0

   DR1DBIH  DR1DAY  DR1LANG  ...  DRD370QQ  DRD370R  DRD370RQ  DRD370S  \
0      6.0     2.0      1.0  ...       NaN      NaN       NaN      NaN
1      4.0     1.0      1.0  ...       NaN      2.0       NaN      2.0
2     18.0     6.0      1.0  ...       NaN      NaN       NaN      NaN
3     21.0     3.0      1.0  ...       NaN      NaN       NaN      NaN
4     18.0     1.0      1.0  ...       NaN      2.0       NaN      2.0

   DRD370SQ  DRD370T  DRD370TQ  DRD370U  DRD370UQ  DRD370V
0       NaN      NaN       NaN      NaN       NaN      NaN
1       NaN      2.0       NaN      2.0       NaN      2.0
2       NaN      NaN       NaN      NaN       NaN      NaN
3       NaN      NaN       NaN      NaN       NaN      NaN
4       NaN      2.0       NaN      2.0       NaN      2.0

[5 rows x 168 columns]

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813 entries, 0 to 9812
Columns: 168 entries, SEQN to DRD370V
dtypes: float64(166), int64(2)
memory usage: 12.6 MB
None

Statistics
               SEQN         WTDRD1         WTDR2D     DR1DRSTZ     DR1EXMER  \
count   9813.000000    9813.000000    8661.000000  9813.000000  8783.000000
mean   78644.559971   31713.463364   35931.672555     1.472027    43.793351
std     2938.592266   36061.598495   51017.340117     1.260325    20.535725
min    73557.000000       0.000000       0.000000     1.000000     2.000000
25%    76092.000000    8731.762120    7255.716712     1.000000    25.000000
50%    78643.000000   19276.118837   17874.047830     1.000000    49.000000
75%    81191.000000   42490.159621   44897.265674     1.000000    59.000000
max    83731.000000  267526.890966  818626.657231     5.000000    91.000000

             DRABF       DRDINT      DR1DBIH       DR1DAY      DR1LANG  ...  \
count  8661.000000  8661.000000  8706.000000  8783.000000  8797.000000  ...
mean      1.984528     1.874495    16.176085     4.501423     1.156303  ...
std       0.123426     0.331310    11.804355     2.184283     0.555685  ...
min       1.000000     1.000000   -31.000000     1.000000     1.000000  ...
25%       2.000000     2.000000     7.000000     3.000000     1.000000  ...
50%       2.000000     2.000000    16.000000     5.000000     1.000000  ...
75%       2.000000     2.000000    23.000000     6.000000     1.000000  ...
max       2.000000     2.000000    74.000000     7.000000     6.000000  ...

        DRD370QQ      DRD370R    DRD370RQ      DRD370S   DRD370SQ  \
count  61.000000  5121.000000  171.000000  5121.000000  27.000000
mean    1.557377     1.966608    1.766082     1.994728   2.481481
std     1.443660     0.179675    1.184814     0.072427   2.651130
min     1.000000     1.000000    1.000000     1.000000   1.000000
25%     1.000000     2.000000    1.000000     2.000000   1.000000
50%     1.000000     2.000000    1.000000     2.000000   1.000000
75%     1.000000     2.000000    2.000000     2.000000   2.500000
max    10.000000     2.000000    8.000000     2.000000  10.000000

           DRD370T     DRD370TQ      DRD370U    DRD370UQ  DRD370V
count  5121.000000  1318.000000  5121.000000  317.000000   5120.0
mean      1.742628     2.622155     1.938098    2.400631      2.0
std       0.437229     2.793016     0.241001    2.997953      0.0
min       1.000000     1.000000     1.000000    1.000000      2.0
25%       1.000000     1.000000     2.000000    1.000000      2.0
50%       2.000000     2.000000     2.000000    2.000000      2.0
75%       2.000000     3.000000     2.000000    2.000000      2.0
max       2.000000    30.000000     2.000000   30.000000      2.0

[8 rows x 168 columns]

Missing Values:
SEQN           0
WTDRD1         0
WTDR2D      1152
DR1DRSTZ       0
DR1EXMER    1030
            ...
DRD370T     4692
DRD370TQ    8495
DRD370U     4692
DRD370UQ    9496
DRD370V     4693
Length: 168, dtype: int64

In [29]:
# Examining examination dataset

print("Examination Dataset")
print(exam.head())
print(" ")
print("Basic Info:")
print(exam.info())
print(" ")
print("Statistics")
print(exam.describe())
print(" ")
print("Missing Values:")
print(exam.isnull().sum())

Examination Dataset
    SEQN  PEASCST1  PEASCTM1  PEASCCT1  BPXCHR  BPAARM  BPACSZ  BPXPLS  \
0  73557         1     620.0       NaN     NaN     1.0     4.0    86.0
1  73558         1     766.0       NaN     NaN     1.0     4.0    74.0
2  73559         1     665.0       NaN     NaN     1.0     4.0    68.0
3  73560         1     803.0       NaN     NaN     1.0     2.0    64.0
4  73561         1     949.0       NaN     NaN     1.0     3.0    92.0

   BPXPULS  BPXPTY  ...  CSXLEAOD  CSXSOAOD  CSXGRAOD  CSXONOD  CSXNGSOD  \
0      1.0     1.0  ...       2.0       1.0       1.0      1.0       4.0
1      1.0     1.0  ...       3.0       1.0       2.0      3.0       4.0
2      1.0     1.0  ...       2.0       1.0       2.0      3.0       4.0
3      1.0     1.0  ...       NaN       NaN       NaN      NaN       NaN
4      1.0     1.0  ...       3.0       1.0       4.0      3.0       4.0

   CSXSLTRT  CSXSLTRG  CSXNART  CSXNARG  CSAEFFRT
0      62.0       1.0      NaN      NaN       1.0
1      28.0       1.0      NaN      NaN       1.0
2      49.0       1.0      NaN      NaN       3.0
3       NaN       NaN      NaN      NaN       NaN
4       NaN       NaN      NaN      NaN       1.0

[5 rows x 224 columns]

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813 entries, 0 to 9812
Columns: 224 entries, SEQN to CSAEFFRT
dtypes: float64(192), int64(3), object(29)
memory usage: 16.8+ MB
None

Statistics
               SEQN     PEASCST1     PEASCTM1    PEASCCT1       BPXCHR  \
count   9813.000000  9813.000000  9508.000000  320.000000  1961.000000
mean   78644.559971     1.064914   660.584034   57.828125   105.534931
std     2938.592266     0.354007   275.431642   30.788160    21.516295
min    73557.000000     1.000000     7.000000    1.000000    60.000000
25%    76092.000000     1.000000   578.000000   56.000000    88.000000
50%    78643.000000     1.000000   689.000000   56.000000   102.000000
75%    81191.000000     1.000000   832.000000   72.000000   120.000000
max    83731.000000     3.000000  2868.000000  122.000000   178.000000

            BPAARM       BPACSZ       BPXPLS      BPXPULS       BPXPTY  ...  \
count  7535.000000  7542.000000  7549.000000  9511.000000  7564.000000  ...
mean      1.008096     3.675418    74.416214     1.013668     1.004363  ...
std       0.116644     0.786221    12.367969     0.116116     0.065911  ...
min       1.000000     1.000000    40.000000     1.000000     1.000000  ...
25%       1.000000     3.000000    66.000000     1.000000     1.000000  ...
50%       1.000000     4.000000    74.000000     1.000000     1.000000  ...
75%       1.000000     4.000000    82.000000     1.000000     1.000000  ...
max       8.000000     5.000000   180.000000     2.000000     2.000000  ...

          CSXLEAOD     CSXSOAOD     CSXGRAOD      CSXONOD     CSXNGSOD  \
count  3520.000000  3520.000000  3519.000000  3519.000000  3519.000000
mean      2.815625     1.145170     2.155726     2.992327     3.751066
std       0.613697     0.548531     0.667754     0.318464     0.693496
min       1.000000     1.000000     1.000000     1.000000     1.000000
25%       3.000000     1.000000     2.000000     3.000000     4.000000
50%       3.000000     1.000000     2.000000     3.000000     4.000000
75%       3.000000     1.000000     3.000000     3.000000     4.000000
max       4.000000     4.000000     4.000000     4.000000     4.000000

          CSXSLTRT     CSXSLTRG      CSXNART      CSXNARG     CSAEFFRT
count  1595.000000  1595.000000  1613.000000  1613.000000  3537.000000
mean     55.746708     1.066458    31.526348     1.199008     1.709075
std      24.649127     0.441677    20.925161     0.690739     0.898975
min       1.000000     1.000000     0.000000     1.000000     1.000000
25%      35.000000     1.000000    16.000000     1.000000     1.000000
50%      53.000000     1.000000    26.000000     1.000000     1.000000
75%      74.000000     1.000000    42.000000     1.000000     2.000000
max     100.000000     5.000000   100.000000     5.000000     5.000000

[8 rows x 195 columns]

Missing Values:
SEQN           0
PEASCST1       0
PEASCTM1     305
PEASCCT1    9493
BPXCHR      7852
            ...
CSXSLTRT    8218
CSXSLTRG    8218
CSXNART     8200
CSXNARG     8200
CSAEFFRT    6276
Length: 224, dtype: int64

In [30]:
# Examining laboratory dataset

print("Lab Dataset")
print(labs.head())
print(" ")
print("Basic Info:")
print(labs.info())
print(" ")
print("Statistics")
print(labs.describe())
print(" ")
print("Missing Values:")
print(labs.isnull().sum())

Lab Dataset
    SEQN  URXUMA  URXUMS  URXUCR.x   URXCRS  URDACT     WTSAF2YR.x  LBXAPB  \
0  73557     4.3     4.3      39.0   3447.6   11.03            NaN     NaN
1  73558   153.0   153.0      50.0   4420.0  306.00            NaN     NaN
2  73559    11.9    11.9     113.0   9989.2   10.53  142196.890197    57.0
3  73560    16.0    16.0      76.0   6718.4   21.05            NaN     NaN
4  73561   255.0   255.0     147.0  12994.8  173.47  142266.006548    92.0

   LBDAPBSI  LBXSAL  ...  URXUTL  URDUTLLC  URXUTU  URDUTULC  URXUUR  \
0       NaN     4.1  ...     NaN       NaN     NaN       NaN     NaN
1       NaN     4.7  ...     NaN       NaN     NaN       NaN     NaN
2      0.57     3.7  ...     NaN       NaN     NaN       NaN     NaN
3       NaN     NaN  ...   0.062       0.0   0.238       0.0  0.0071
4      0.92     4.3  ...     NaN       NaN     NaN       NaN     NaN

   URDUURLC  URXPREG  URXUAS  LBDB12  LBDB12SI
0       NaN      NaN     NaN   524.0     386.7
1       NaN      NaN     NaN   507.0     374.2
2       NaN      NaN     NaN   732.0     540.2
3       0.0      NaN    3.83     NaN       NaN
4       NaN      NaN     NaN   225.0     166.1

[5 rows x 424 columns]

Basic Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9813 entries, 0 to 9812
Columns: 424 entries, SEQN to LBDB12SI
dtypes: float64(423), int64(1)
memory usage: 31.7 MB
None

Statistics
               SEQN       URXUMA       URXUMS     URXUCR.x        URXCRS  \
count   9813.000000  8052.000000  8052.000000  8052.000000   8052.000000
mean   78644.559971    41.218854    41.218854   121.072529  10702.811525
std     2938.592266   238.910226   238.910226    78.574882   6946.019595
min    73557.000000     0.210000     0.210000     5.000000    442.000000
25%    76092.000000     4.500000     4.500000    60.000000   5304.000000
50%    78643.000000     8.400000     8.400000   106.000000   9370.400000
75%    81191.000000    17.625000    17.625000   163.000000  14409.200000
max    83731.000000  9600.000000  9600.000000   659.000000  58255.600000

            URDACT     WTSAF2YR.x       LBXAPB     LBDAPBSI       LBXSAL  ...  \
count  8052.000000    3329.000000  3145.000000  3145.000000  6553.000000  ...
mean     41.905695   78917.195254    85.898569     0.858986     4.282085  ...
std     276.261093   71088.020067    25.595258     0.255953     0.343649  ...
min       0.210000       0.000000    20.000000     0.200000     2.400000  ...
25%       5.020000   33217.405018    68.000000     0.680000     4.100000  ...
50%       7.780000   56397.702304    84.000000     0.840000     4.300000  ...
75%      15.295000   99356.561999   101.000000     1.010000     4.500000  ...
max    9000.000000  395978.465792   234.000000     2.340000     5.600000  ...

            URXUTL     URDUTLLC       URXUTU     URDUTULC       URXUUR  \
count  2664.000000  2664.000000  2664.000000  2664.000000  2664.000000
mean      0.186950     0.007883     0.150535     0.162162     0.012038
std       0.133833     0.088452     0.576409     0.368669     0.034026
min       0.013000     0.000000     0.013000     0.000000     0.001400
25%       0.090000     0.000000     0.028000     0.000000     0.002600
50%       0.159000     0.000000     0.069000     0.000000     0.005100
75%       0.252000     0.000000     0.150000     0.000000     0.010700
max       1.290000     1.000000    25.760000     1.000000     0.843400

          URDUURLC      URXPREG       URXUAS        LBDB12      LBDB12SI
count  2664.000000  1261.000000  2662.000000   5316.000000   5316.000000
mean      0.177177     1.969072    15.670639    640.100263    472.394865
std       0.381890     0.251651    46.735936    751.967084    554.951537
min       0.000000     1.000000     0.280000     18.000000     13.300000
25%       0.000000     2.000000     3.210000    381.000000    281.200000
50%       0.000000     2.000000     6.240000    514.000000    379.300000
75%       0.000000     2.000000    12.435000    711.000000    524.700000
max       1.000000     3.000000  1071.300000  26801.000000  19779.100000

[8 rows x 424 columns]

Missing Values:
SEQN           0
URXUMA      1761
URXUMS      1761
URXUCR.x    1761
URXCRS      1761
            ...
URDUURLC    7149
URXPREG     8552
URXUAS      7151
LBDB12      4497
LBDB12SI    4497
Length: 424, dtype: int64

In [31]:
# Merging the three datasets using the common identifier (SEQN)

temp = pd.merge(diet, exam, on='SEQN', how='inner')
df = pd.merge(temp, labs, on='SEQN', how='inner')
df

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,16888.327864,12930.890649,1,49.0,2.0,2.0,6.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,524.0,386.7
1,73558,17932.143865,12684.148869,1,59.0,2.0,2.0,4.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,507.0,374.2
2,73559,59641.812930,39394.236709,1,49.0,2.0,2.0,18.0,6.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,732.0,540.2
3,73560,142203.069917,125966.366442,1,54.0,2.0,2.0,21.0,3.0,1.0,...,0.062,0.0,0.238,0.0,0.0071,0.0,NaN,3.83,NaN,NaN
4,73561,59052.357033,39004.892993,1,63.0,2.0,2.0,18.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,166.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,14146.781331,10520.302070,1,59.0,2.0,2.0,8.0,7.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,720.0,531.4
9809,83728,38750.761193,51815.103262,1,25.0,2.0,2.0,9.0,5.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9810,83729,15272.505199,10401.781170,1,59.0,2.0,2.0,1.0,6.0,1.0,...,0.135,0.0,0.132,0.0,0.0081,0.0,2.0,9.75,388.0,286.3
9811,83730,0.000000,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9812,83731,5805.674812,4339.132077,1,49.0,2.0,2.0,12.0,6.0,1.0,...,0.242,0.0,0.932,0.0,0.0061,0.0,NaN,7.25,NaN,NaN

In [32]:
df.isnull().sum()

SEQN           0
WTDRD1         0
WTDR2D      1152
DR1DRSTZ       0
DR1EXMER    1030
            ...
URDUURLC    7149
URXPREG     8552
URXUAS      7151
LBDB12      4497
LBDB12SI    4497
Length: 814, dtype: int64

In [33]:
df.fillna(df.mean(), inplace=True)
df

C:\Users\tirth\AppData\Local\Temp\ipykernel_6896\3921218131.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,73557,16888.327864,12930.890649,1,49.000000,2.000000,2.000000,6.000000,2.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,524.000000,386.700000
1,73558,17932.143865,12684.148869,1,59.000000,2.000000,2.000000,4.000000,1.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,507.000000,374.200000
2,73559,59641.812930,39394.236709,1,49.000000,2.000000,2.000000,18.000000,6.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,732.000000,540.200000
3,73560,142203.069917,125966.366442,1,54.000000,2.000000,2.000000,21.000000,3.000000,1.000000,...,0.06200,0.000000,0.238000,0.000000,0.007100,0.000000,1.969072,3.830000,640.100263,472.394865
4,73561,59052.357033,39004.892993,1,63.000000,2.000000,2.000000,18.000000,1.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,225.000000,166.100000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,83727,14146.781331,10520.302070,1,59.000000,2.000000,2.000000,8.000000,7.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,720.000000,531.400000
9809,83728,38750.761193,51815.103262,1,25.000000,2.000000,2.000000,9.000000,5.000000,1.000000,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,640.100263,472.394865
9810,83729,15272.505199,10401.781170,1,59.000000,2.000000,2.000000,1.000000,6.000000,1.000000,...,0.13500,0.000000,0.132000,0.000000,0.008100,0.000000,2.000000,9.750000,388.000000,286.300000
9811,83730,0.000000,35931.672555,5,43.793351,1.984528,1.874495,16.176085,4.501423,1.156303,...,0.18695,0.007883,0.150535,0.162162,0.012038,0.177177,1.969072,15.670639,640.100263,472.394865
9812,83731,5805.674812,4339.132077,1,49.000000,2.000000,2.000000,12.000000,6.000000,1.000000,...,0.24200,0.000000,0.932000,0.000000,0.006100,0.000000,1.969072,7.250000,640.100263,472.394865

In [34]:
df_with_null = df[df.columns[df.isnull().any()]].copy()
df_with_null

,DRQSDT5,BMIHEAD,OHX02CTC,OHX03CTC,OHX04CTC,OHX05CTC,OHX06CTC,OHX07CTC,OHX08CTC,OHX09CTC,...,OHX23CTC,OHX24CTC,OHX25CTC,OHX26CTC,OHX27CTC,OHX28CTC,OHX29CTC,OHX30CTC,OHX31CTC,CSXTSEQ
0,NaN,NaN,P,P,P,P,P,P,P,P,...,P,P,P,P,P,P,P,P,P,B
1,NaN,NaN,Z,J,S,S,S,S,S,S,...,S,S,S,S,S,Z,S,E,E,A
2,NaN,NaN,Z,Z,Z,S,S,S,S,Z,...,Z,S,S,S,S,S,Z,Z,E,A
3,NaN,NaN,U,S,D,K,U,S,S,S,...,S,S,S,S,U,D,D,S,U,NaN
4,NaN,NaN,E,Z,E,Z,Z,Z,R,R,...,Z,R,Z,S,Z,E,E,E,E,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,NaN,NaN,S,S,S,M,S,S,S,S,...,S,S,S,S,S,M,S,Z,S,NaN
9809,NaN,NaN,U,U,U,D,D,D,D,D,...,D,D,D,D,D,D,U,U,U,NaN
9810,NaN,NaN,Z,Z,E,Z,S,S,S,S,...,S,S,S,S,S,S,S,E,Z,B
9811,NaN,NaN,U,S,K,K,D,D,S,S,...,S,S,S,D,D,K,K,S,U,NaN
9812,NaN,NaN,U,S,D,D,D,S,S,S,...,S,S,S,S,S,K,K,Z,S,NaN

In [35]:
df_with_null.isnull().sum()

DRQSDT5     9813
BMIHEAD     9813
OHX02CTC     848
OHX03CTC     848
OHX04CTC     848
OHX05CTC     848
OHX06CTC     848
OHX07CTC     848
OHX08CTC     848
OHX09CTC     848
OHX10CTC     848
OHX11CTC     848
OHX12CTC     848
OHX13CTC     848
OHX14CTC     848
OHX15CTC     848
OHX18CTC     848
OHX19CTC     848
OHX20CTC     848
OHX21CTC     848
OHX22CTC     848
OHX23CTC     848
OHX24CTC     848
OHX25CTC     848
OHX26CTC     848
OHX27CTC     848
OHX28CTC     848
OHX29CTC     848
OHX30CTC     848
OHX31CTC     848
CSXTSEQ     6579
dtype: int64

In [36]:
# Two columns have all their entries NaN so we shall remove those columns
df.drop(columns=['DRQSDT5','BMIHEAD'], inplace=True)
df_with_null.drop(columns=['DRQSDT5','BMIHEAD'], inplace=True)

In [37]:
print(df_with_null.head())
print(df_with_null.isnull().sum())

  OHX02CTC OHX03CTC OHX04CTC OHX05CTC OHX06CTC OHX07CTC OHX08CTC OHX09CTC  \
0        P        P        P        P        P        P        P        P
1        Z        J        S        S        S        S        S        S
2        Z        Z        Z        S        S        S        S        Z
3        U        S        D        K        U        S        S        S
4        E        Z        E        Z        Z        Z        R        R

  OHX10CTC OHX11CTC  ... OHX23CTC OHX24CTC OHX25CTC OHX26CTC OHX27CTC  \
0        P        P  ...        P        P        P        P        P
1        S        S  ...        S        S        S        S        S
2        S        S  ...        Z        S        S        S        S
3        S        U  ...        S        S        S        S        U
4        Z        Z  ...        Z        R        Z        S        Z

  OHX28CTC OHX29CTC OHX30CTC OHX31CTC CSXTSEQ
0        P        P        P        P       B
1        Z        S        E        E       A
2        S        Z        Z        E       A
3        D        D        S        U     NaN
4        E        E        E        E       A

[5 rows x 29 columns]
OHX02CTC     848
OHX03CTC     848
OHX04CTC     848
OHX05CTC     848
OHX06CTC     848
OHX07CTC     848
OHX08CTC     848
OHX09CTC     848
OHX10CTC     848
OHX11CTC     848
OHX12CTC     848
OHX13CTC     848
OHX14CTC     848
OHX15CTC     848
OHX18CTC     848
OHX19CTC     848
OHX20CTC     848
OHX21CTC     848
OHX22CTC     848
OHX23CTC     848
OHX24CTC     848
OHX25CTC     848
OHX26CTC     848
OHX27CTC     848
OHX28CTC     848
OHX29CTC     848
OHX30CTC     848
OHX31CTC     848
CSXTSEQ     6579
dtype: int64

In [40]:
# Now we can see that only the columns with object dtypes have null values, we can't fill them with mean obviously so
# I will fill the null values with mode of the column

df.fillna(df.mode().iloc[0], inplace=True)
print(df.info())
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Columns: 812 entries, SEQN to LBDB12SI
dtypes: float64(779), int64(4), object(29)
memory usage: 60.9+ MB
None
SEQN        0
WTDRD1      0
WTDR2D      0
DR1DRSTZ    0
DR1EXMER    0
           ..
URDUURLC    0
URXPREG     0
URXUAS      0
LBDB12      0
LBDB12SI    0
Length: 812, dtype: int64

Now, as for whether filling the null values with mean of the columns was a good idea or not. I would say that it was reasonable for columns with less percent of NaN because after all our data had information about medical characteristics of people, so taking the mean was not wrong.

However, many columns had more than half of their rows empty, so filling those columns too with the mean was a bad idea.

In [41]:
# Now that we have filled the null values in our dataset
# We will now encode the columns with object datatypes
from sklearn.preprocessing import LabelEncoder

object_columns = df.select_dtypes(include=['object']).columns

label_encoder = LabelEncoder()
for column in object_columns:
    df[column] = label_encoder.fit_transform(df[column])

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9813 entries, 0 to 9812
Columns: 812 entries, SEQN to LBDB12SI
dtypes: float64(779), int32(29), int64(4)
memory usage: 59.8 MB
None

In [42]:
# Now we will scale our data using standard scaler

from sklearn.preprocessing import StandardScaler
numeric_columns = df.select_dtypes(include=['float64', 'int64', 'int32']).columns
scaler = StandardScaler()
df[numeric_columns] = scaler.fit_transform(df[numeric_columns])
df

,SEQN,WTDRD1,WTDR2D,DR1DRSTZ,DR1EXMER,DRABF,DRDINT,DR1DBIH,DR1DAY,DR1LANG,...,URXUTL,URDUTLLC,URXUTU,URDUTULC,URXUUR,URDUURLC,URXPREG,URXUAS,LBDB12,LBDB12SI
0,-1.731380,-0.411127,-0.479918,-0.374547,2.680109e-01,1.334354e-01,4.032450e-01,-0.915282,-1.210549,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,-0.209789,-0.209821
1,-1.731039,-0.382180,-0.485066,-0.374547,7.827583e-01,1.334354e-01,4.032450e-01,-1.095171,-1.694493,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,-0.240508,-0.240427
2,-1.730699,0.774502,0.072247,-0.374547,2.680109e-01,1.334354e-01,4.032450e-01,0.164051,0.725228,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,0.166060,0.166019
3,-1.730359,3.064069,1.878599,-0.374547,5.253846e-01,1.334354e-01,4.032450e-01,0.433884,-0.726605,-2.970965e-01,...,-1.792199e+00,-1.710783e-01,0.291287,-0.844362,-2.785641e-01,-8.906037e-01,0.000000,-0.486522,0.000000,0.000000
4,-1.730019,0.758155,0.064124,-0.374547,9.886572e-01,1.334354e-01,4.032450e-01,0.164051,-1.694493,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,-0.750073,-0.749953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9808,1.729637,-0.487155,-0.530215,-0.374547,7.827583e-01,1.334354e-01,4.032450e-01,-0.735393,1.209172,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,0.144376,0.144472
9809,1.729978,0.195157,0.331412,-0.374547,-9.673828e-01,1.334354e-01,4.032450e-01,-0.645449,0.241283,-2.970965e-01,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,0.000000,0.000000
9810,1.730318,-0.455936,-0.532688,-0.374547,7.827583e-01,1.334354e-01,4.032450e-01,-1.365004,0.725228,-2.970965e-01,...,-7.451335e-01,-1.710783e-01,-0.061726,-0.844362,-2.221478e-01,-8.906037e-01,0.342978,-0.243274,-0.455537,-0.455647
9811,1.730658,-0.879470,0.000000,2.799399,3.657500e-16,1.915026e-15,-7.134240e-16,0.000000,0.000000,4.220555e-16,...,-3.981083e-16,-7.529568e-17,0.000000,0.000000,-9.786673e-17,-1.395170e-16,0.000000,0.000000,0.000000,0.000000
9812,1.730999,-0.718468,-0.659187,-0.374547,2.680109e-01,1.334354e-01,4.032450e-01,-0.375616,0.725228,-2.970965e-01,...,7.896065e-01,-1.710783e-01,2.602524,-0.844362,-3.349804e-01,-8.906037e-01,0.000000,-0.345997,0.000000,0.000000

Standard Scaling is important because of the following reasons:

1) Algorithms that rely on distances between data points, such as k-nearest neighbors (KNN) and hierarchical clustering, are sensitive to the scale of features. Standard scaling ensures that features contribute equally to the distance computations.
2) If features have vastly different scales, the algorithm that we use in the future may take longer to converge or may even fail to converge.
3) Without scaling, the magnitude of coefficients can be influenced by the scale of the features, making it difficult to compare their relative importance.
4) When features are on similar scales, it's easier to create meaningful visualizations that accurately represent the relationships within the data.